body{
    margin-left: 1%;
    margin-right: 1%;
}
#headingSpan{
    text-align: center;
}
#tableHeaders{
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
}
#tableHeaders div:nth-of-type(1) {flex: 1.6;}
#tableHeaders div:nth-of-type(2) {flex: 5;}
#tableHeaders div:nth-of-type(3) {flex: 1;}
#tableHeaders div:nth-of-type(4) {flex: 1;}
#tableHeaders div:nth-of-type(5) {flex: 1;}
.singleItem{
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    /* flex-basis:50%; */
}
#underline{
    border: none;
    border-bottom: 2px solid slategrey;
    
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
}
ul li{
    display: inline-block;
    padding: 0 8px 0 4px;
    position: relative;
}
ul li:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 4px;
    right: -3px;
    width: 1px;
    height: 14px;
    background: #757575;
}
a{
    text-decoration: none;
    color: #757575;
}
ul li:last-child::after { display: none; }
#firs

.singleItem div:nth-of-type(1) {flex-grow: 1;}
.singleItem div:nth-of-type(2) {flex-grow: 4;}
.singleItem div:nth-of-type(3) {flex-grow: 1;}
.singleItem div:nth-of-type(4) {flex-grow: 1;}
.singleItem div:nth-of-type(5) {flex-grow: 1;}


#totalPart{
    display: flex;
}
#helpSection{
    flex-grow: 1;
    /* background-color: aqua; */
}
#billingPart{
    flex-grow: 3;
    /* background-color: red; */
}
#promoSection{
    display: flex;
    justify-content: space-between;
}